.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #9ab973;
    
  }
  .Main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100vw;
    max-height: 50vw;
    height: 50vw;
    background-color: #8c9e5e ;
  }
  .display {
    margin-bottom: 10px;
   
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
  }